:root {
  --warning-color: #856404;
  --warning-background: #fff3cd;
}

/* BEGIN BOILERPLATE */
*,
*::before,
*::after {
  /* Reset box model */
  box-sizing: border-box;
}

/* Image behavior */
img {
  display: block;
  max-width: 100%;
}

/* Reset list styling */
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}
menu,
ol,
ul {
  padding-left: 0;
}
article ol,
article ul {
  list-style-position: inside;
}

/* Enhance link underlines */
a {
  /* Places underlines below the descenders */
  text-underline-position: under;

  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
}

/* Change root font size */
html {
  font-size: 62.5%;
}

/* Disable the text inflation algorithm */
html {
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

/* Enable smooth scrolling */

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Provide interactive elements with cursor */
label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
  cursor: pointer;
}

/* Change focus behavior */
:focus:not(:focus-visible) {
  outline: none;
}
/* END BOILERPLATE */

*,
*::after,
*::before {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0px;
}

.board,
.divider.container {
  width: 512px;
}

.board {
  border: solid 1px black;
  height: 512px;
  display: flex;
  flex-direction: column;
}

.divider.container {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider.line {
  height: 8px;
  width: 100%;
  background-color: black;
}

.row {
  display: flex;
  flex-grow: 1;
}

.cell {
  flex-grow: 1;
  border: solid 1px black;
}

.water {
  background-color: #7fcddf;
}

.boat {
  background-color: gray;
}

.hidden {
  /* -- TODO -- */
  background-color: darkblue;
}

.hit {
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hit > svg {
  position: absolute;
  font-size: 2rem;
}

.miss {
  background-color: #7fcddf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miss > svg {
  position: absolute;
  font-size: 2rem;
}
